.mud-container--gutters {
    padding: 0px !important;
}

.th-mud-table {
    font-size: 16px !important;
    font-weight: 700 !important;
    text-align: center !important;
}

.td-mud-table {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.slide {
    cursor: pointer !important;
}