@page "/auth"
@using Microsoft.AspNetCore.Authorization
@using Oprim.Application.Identities

@* @attribute [Authorize(Policy = Permissions.Users.View)] *@

@inject IAuthorizationService Auth1
@inject AuthenticationStateProvider AuthProvider
<h1>Auth</h1>
@if (canEdit)
{
    <button>Edit User</button>
}

@code {
    private bool canEdit;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthProvider.GetAuthenticationStateAsync()).User;
        var result = await Auth1.AuthorizeAsync(user, Permissions.Users.Edit);
        canEdit = result.Succeeded;
    }
}
