@page "/auth"

@using Oprim.Ui.Components.Shared.Wrappers

@* @attribute [Authorize(Policy = Permissions.Users.View)] *@

@* @inject IAuthorizationService Auth1 *@
@* @inject AuthenticationStateProvider AuthProvider *@

<h1>Auth</h1>
<PermissionWrapper>
    <h3>ایجاد محصول جدید</h3>
</PermissionWrapper>



@code {
    private bool canEdit;
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     var user = (await AuthProvider.GetAuthenticationStateAsync()).User;
    //     var result = await Auth1.AuthorizeAsync(user, Permissions.Users.Edit);
    //     canEdit = result.Succeeded;
    // }

}
