@page "/Devpage"
@using Microsoft.Extensions.Localization
@rendermode InteractiveServer


@* <h3>@L["Hello"]</h3> *@
@* <p>@L["Welcome"]</p> *@

<button class="btn btn-primary" @onclick="() => SetLang(en)">English</button>
<button class="btn btn-secondary" @onclick="() => SetLang(fa)">فارسی</button>

@code {
    string fa = "fa";
    string en = "en";

    private async Task SetLang(string culture)
    {
        var uri = new Uri(NavigationManager.Uri)
            .GetLeftPart(UriPartial.Path);
        var query = $"?culture={culture}&ui-culture={culture}";
        NavigationManager.NavigateTo(uri + query, forceLoad: true);
    }

    [Inject] NavigationManager NavigationManager { get; set; } = default!;
}
